{% extends "layout.html" %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    <div class="mdl-grid">
    </div>
    <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ item.name }}</h2>
                {% for category in categorys if item.categoryID == category.id %}
                <div class="mdl-card__subtitle-text"><em>&nbsp({{ category.name }})</em></div>
                {% endfor %}
            </div>
            <div class="mdl-card__supporting-text">
                {{ item.description }}
                <p><em>Added by: <a href="mailto:{{ ownerEmail }}">{{ ownerName }}</em></p>
            </div>
			
            {% if 'username' in session %}
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ url_for('editItem', itemName=item.name) }}">
                    Edit
                </a>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-300" href="{{ url_for('deleteItem', itemName=item.name) }}">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}